<div class="chat__content">
    <header class="chat__header">
        {{{headerAvatar}}}
        <div class="chat__name">{{headerName}}</div>
        {{{headerButton}}}
    </header>

    <div class="chat__messages">
        <div class="chat__messages-wrapper">
            {{{messages}}}
        </div>
    </div>
    <footer class="chat__footer">
        <form action="" class="chat__footer-form">
            {{{footerAttachInput}}}
            <textarea class="chat__footer-textarea" name="message" id="message" placeholder="Сообщение"></textarea>
            {{{footerSentBtn}}}
        </form>
    </footer>
</div>
