<div>
    <h2 class="modal__title {{#if modalTitleError}}modal__title_error{{/if}}">{{{modalTitle}}}</h2>
    <div class="modal__content">
        {{{changeAvatarForm}}}
        {{!-- <form action="" class="modal__form">
            {{{fileInput}}}
            {{{button}}}
            {{#if modalError}}<div class="modal__form-error">{{{modalError}}}</div>{{/if}}
        </form> --}}
    </div>
</div>