<div class="profile__data-row {{#if className}} {{className}}{{/if}}">
    {{#if link}}
    {{{link}}}
    {{else}}
    <label
           class="profile__data-label"
           for="{{id}}">
        {{label}}
    </label>
    <input
           class="profile__data-input"
           type="{{type}}"
           name="{{name}}"
           id="{{id}}"
           value="{{value}}"
           {{#if readonly}}readonly{{/if}}
           placeholder="{{placeholder}}">
    {{/if}}
</div>